[submodule "opt/cpr"]
	path = opt/cpr
	url = https://github.com/whoshuu/cpr.git
[submodule "opt/rapidjson"]
	path = opt/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "opt/dbg-macro"]
	path = opt/dbg-macro
	url = https://github.com/sharkdp/dbg-macro.git
[submodule "opt/argparse"]
	path = opt/argparse
	url = https://github.com/p-ranav/argparse
